<div class="nosotros-ieee">
    <h2>¿Quienes Somos?</h2>

    <div class="tarjetas-nosotros">
        <div class="card-nosotros">
            <div class="img-nosotros">
                <img src="../../../assets/img/Nosotros/target.png" alt="Mision">
            </div>
            <div class="contenido-nosotros">
                <h3>Mision</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris erat, accumsan nec mollis sit amet, finibus ut urna. Proin mollis non dui quis</p>
            </div>
        </div>
        <div class="card-nosotros">
            <div class="img-nosotros">
                <img src="../../../assets/img/Nosotros/vision.png" alt="Vision">
            </div>
            <div class="contenido-nosotros">
                <h3>Vision</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris erat, accumsan nec mollis sit amet, finibus ut urna. Proin mollis non dui quis</p>
            </div>
        </div>
    </div>
</div>