/* Nosotros */
.nosotros-ieee {
    background-color: #EFEFEF;
    padding: 10rem 0 4rem;
    margin: 0 auto;
    min-width: 320px;
}

@media (min-width: 1300px) {
    .nosotros-ieee {
        min-height: 100vh;
    }
}

.nosotros-ieee h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .nosotros-ieee h2 {
        font-size: 5rem;
    }
}

@media (min-width: 850px) {
    .nosotros-ieee h2 {
        margin-bottom: 5rem;
    }
}

.nosotros-ieee .tarjetas-nosotros {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 4rem;
}

@media (min-width: 500px) {
    .nosotros-ieee .tarjetas-nosotros {
        padding: 0 15rem;
    }
}

@media (min-width: 850px) {
    .nosotros-ieee .tarjetas-nosotros {
        padding: 0 4rem;
    }
}

.tarjetas-nosotros .card-nosotros {
    margin-bottom: 2rem;
}

.tarjetas-nosotros .card-nosotros:last-child {
    margin-bottom: 0;
}

@media (min-width: 850px) {
    .tarjetas-nosotros .card-nosotros {
        margin-bottom: 0;
        flex-basis: calc(50% - 4rem);
    }
}

@media (min-width: 1300px) {
    .tarjetas-nosotros .card-nosotros {
        flex-basis: calc(50% - 15rem);
    }
}

.card-nosotros .img-nosotros {
    display: flex;
    align-self: center;
    justify-content: center;
}

.card-nosotros img {
    width: 200px;
    height: 200px;
}

@media (min-width: 768px) {
    .card-nosotros img {
        width: 240px;
        height: 240px;
    }
}

.card-nosotros .contenido-nosotros {
    text-align: center;
}

.contenido-nosotros h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 3.2rem;
}

.contenido-nosotros p {
    font-family: 'Roboto', sans-serif;
    color: #545454;
    line-height: 2rem;
}

@media (min-width: 1300px) {
    .contenido-nosotros h3 {
        font-size: 3.4rem;
    }
    .contenido-nosotros p {
        font-size: 1.8rem;
    }
}