<div class="directiva-main">
    <div class="sup-directiva">
        <h2>Directiva 2020</h2>
        <select>
            <option disabled selected></option>
        </select>
    </div>

    <div class="directiva-content">
        <div class="directiva-card">
            <div class="img-directiva">
                <img src="../../../assets/img/fernando.PNG" alt="Imagen de Fernando Silipu">
            </div>

            <div class="contenido-directiva">
                <div class="contenido-centrado">
                    <h3>Fernando Silipu</h3>
                    <p>Presidente</p>
                </div>
            </div>
        </div>

        <div class="directiva-card">
            <div class="img-directiva">
                <img src="../../../assets/img/Karol.jpg" alt="Imagen de Karol Candela">
            </div>

            <div class="contenido-directiva">
                <div class="contenido-centrado">
                    <h3>Karol Candela</h3>
                    <p>Vicepresidente</p>
                </div>
            </div>
        </div>

        <div class="directiva-card">
            <div class="img-directiva">
                <img src="../../../assets/img/Jeankarlo.jpg" alt="Imagen de Jean Karlo Carnero">
            </div>

            <div class="contenido-directiva">
                <div class="contenido-centrado">
                    <h3>Jean Karlo Carnero</h3>
                    <p>Consultor</p>
                </div>
            </div>
        </div>

        <div class="directiva-card">
            <div class="img-directiva">
                <img src="../../../assets/img/christian.jpg" alt="Imagen de Christian Parrales">
            </div>

            <div class="contenido-directiva">
                <div class="contenido-centrado">
                    <h3>Christian Parrales</h3>
                    <p>Expresidente</p>
                </div>
            </div>
        </div>

        <div class="directiva-card">
            <div class="img-directiva">
                <img src="../../../assets/img/Prycila.jpg" alt="Imagen de Prycila Flores">
            </div>

            <div class="contenido-directiva">
                <div class="contenido-centrado">
                    <h3>Pryscila Flores</h3>
                    <p>Coordinadora Sede SJL</p>
                </div>
            </div>
        </div>

        <div class="directiva-card">
            <div class="img-directiva">
                <img src="../../../assets/img/Moises.jpg" alt="Imagen de Moises Quispe">
            </div>

            <div class="contenido-directiva">
                <div class="contenido-centrado">
                    <h3>Moises Quispe</h3>
                    <p>Secretario</p>
                </div>
            </div>
        </div>

        <div class="directiva-card">
            <div class="img-directiva">
                <img src="../../../assets/img/Rodrigo.jpg" alt="Imagen de Rodrigo Berrios">
            </div>

            <div class="contenido-directiva">
                <div class="contenido-centrado">
                    <h3>Rodrigo Berrios</h3>
                    <p>Diseñador</p>
                </div>
            </div>
        </div>

        <div class="directiva-card">
            <div class="img-directiva">
                <img src="../../../assets/img/Johan.jpg" alt="Imagen de Johan Espino">
            </div>

            <div class="contenido-directiva">
                <div class="contenido-centrado">
                    <h3>Johan Espino</h3>
                    <p>Comunity Manager</p>
                </div>
            </div>
        </div>
    </div>
</div>