    .navbar-container {
        background: #fff;
        position: fixed;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        transition: ease-in-out .5s;
        z-index: 20;
    }
    
    .navbar-container>img {
        height: 90px;
        width: auto;
        position: absolute;
        top: 0;
        left: 50px;
        cursor: pointer;
        transition: ease-in-out .5s;
    }
    
    .navbar {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transition: all ease-in-out 0.5s;
    }
    
    .navbar-container>nav>ul {
        display: flex;
        flex-flow: row nowrap;
    }
    
    .navbar-container>nav>ul>li {
        padding: 15px 10px;
        margin: 10px;
        text-align: center;
        list-style: none;
        transition: ease-in-out .5s;
        position: relative;
    }
    
    .navbar-container>nav>ul>li::before,
    .navbar-container>nav>ul>li::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 10%;
        left: 43%;
        height: 3px;
        background: #fff;
        transition: ease-out .5s;
    }
    
    .navbar-container>nav>ul>li>a {
        cursor: pointer;
        margin: 25px 25px;
        text-decoration: none;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #000000;
    }
    
    .social-links {
        position: absolute;
        top: 0;
        right: 50px;
        height: 100px;
        display: flex;
        margin-top: auto;
        display: flex;
        align-items: flex-end;
        transition: ease-in-out .5s;
    }
    
    .social-item {
        padding-bottom: 17px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .st-btn svg {
        width: 35px;
        height: 35px;
    }
    
    .social-item:last-child {
        padding-right: 0;
    }
    
    .navbar-container>nav>ul>li.link-active::before,
    .navbar-container>nav>ul>li.link-active::after {
        background: #00629b;
        width: 100%;
        left: 0;
    }
    
    .hamburger-menu {
        display: none;
        position: absolute;
        display: flex;
        align-items: center;
        right: 25px;
        height: 100%;
    }
    
    #btn-open,
    #btn-close {
        display: none;
        cursor: pointer;
        transition: all ease-in-out .6s;
    }
    
    #btn-open svg {
        fill: black;
    }
    
    #btn-close svg {
        fill: #fff;
    }
    /* .link-active {
    border-bottom: 2px solid #167BB1;
    transition: ease-out .5s;
} */
    
    @media screen and (max-width: 1350px) {
        .navbar-container>img {
            height: 85px;
        }
        .st-btn svg {
            width: 35px;
            height: 35px;
        }
    }
    
    @media screen and (max-width: 1250px) {
        .social-links {
            display: none;
        }
        .navbar {
            display: none;
            position: relative;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, .875);
            transition: all ease-in-out .6s;
            /* animation-name: animateDown;
            animation-duration: .7s;
            animation-timing-function: ease-in-out; */
        }
        .navbar-container>nav>ul {
            flex-flow: column nowrap;
            justify-content: space-between;
            height: 100vh;
            padding-top: 30px;
            padding-bottom: 130px;
        }
        .navbar-container>nav>ul>li {
            text-align: center;
        }
        .navbar-container>nav>ul>li>a {
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            /*text-shadow: -2px 2px 0 #000, -2px 2px 0 #0a0e27;*/
        }
        .link-active {
            border-bottom: 4px solid #167BB1;
        }
        .social-links {
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-right: auto;
            margin-left: auto;
        }
        .social-item:first-child {
            padding-left: 0;
        }
        .st-btn svg,
        .social-item a svg .twitter-2,
        .social-item a svg g path {
            fill: #fff;
        }
        .social-item a svg .twitter-1 {
            fill: rgba(0, 0, 0, .075);
        }
        .navbar-container .hamburger-menu {
            display: flex;
        }
        .navbar-container>nav>ul>li::before,
        .navbar-container>nav>ul>li::after {
            background: none;
        }
        #btn-open {
            display: block;
        }
    }
    
    @media screen and (max-width: 600px) {
        .navbar-container>nav>ul>li>a {
            font-size: 20px;
        }
        #btn-open svg,
        #btn-close svg {
            width: 25px;
            height: 25px;
        }
        .navbar-container>img {
            height: 82px;
            left: 20px;
        }
        .hamburger-menu {
            right: 15px;
        }
    }
    
    .animateDown1s {
        animation-name: animateDown;
        animation-duration: 1.2s;
        animation-timing-function: ease-in-out;
    }
    
    .animateUp1s {
        animation-name: animateUp;
        animation-duration: 1.5s;
        animation-timing-function: ease;
        animation-duration: .2s;
    }
    
    @keyframes animateDown {
        from {
            transform: translateY(-100vh);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    @keyframes animateUp {
        from {
            transform: translateY(0);
            /* opacity: 1; */
        }
        to {
            transform: translateY(-100vh);
            /*  opacity: 1; */
        }
    }
    
    @keyframes Right {
        from {
            transform: translateX(-200px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }