<div class="contactos-ieee">
    <h2 class="textColor">Contáctanos</h2>

    <form action="">     
        <label for="txtNombre" class="textColor">Nombre completo<span class="span-form">*</span></label>
        <input type="text" class="input-activo" id="txtNombre" name="">

        <label for="txtCorreo" class="textColor">Correo<span class="span-form">*</span></label>
        <input type="email" class="input-activo" id="txtCorreo" name="">

        <label for="txtComentario" class="textColor">Comentario o mensaje<span class="span-form">*</span></label>
        <textarea class="input-activo" id="txtComentario" name=""></textarea>

        <input type="submit" value="Enviar" class="btn-submit">
    </form>

    <!--<div class="color-fondo" id="color-fondo"></div>
    <div class="color-interno" id="color-interno"></div>-->
</div>