<div class="container-talleres">
    <div class="title-talleres">
        <div class="title">
            EVENTOS 2020
        </div>
        <select name="" id="">
            <option disabled selected></option>
        </select>
    </div>

    <div id="wrapper-slide" class="wrapper-slide">
        <div id="slider" class="slide-talleres">
            <div class="container-slider">
                <div class="card-taller">
                    <div class="header-card-taller">
                        <img src="../../../assets/img/eventos-2020/webinar angular.png" alt="">
                    </div>
                    <div class="content-card-taller">
                        <!-- <div class="title-taller">
                            Webinar Angular 9
                        </div> -->
                        <div class="description-taller">
                            <p class="title-taller">Webinar Angular 9</p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor maxime laborum voluptas! Excepturi, accusamus omnis libero labore qui quibusdam! Consequatur neque iusto modi ipsa commodi eveniet assumenda architecto eum laudantium quisquam expedita maxime
                            quis quasi vitae a, quos inventore facilis temporibus nihil recusandae quod suscipit. Odio repellendus quos cumque eveniet.
                        </div>
                    </div>
                </div>
                <div class="card-taller">
                    <div class="header-card-taller">
                        <img src="../../../assets/img/eventos-2020/d4f18607-1ab8-48b1-ae99-5d4217edbb9d.jpg" alt="">
                    </div>
                    <div class="content-card-taller">
                        <!-- <div class="title-taller">
                            Workshop: Habilidades Blandas
                        </div> -->
                        <div class="description-taller">
                            <p class="title-taller">Workshop: Inteligencia Artificial</p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor maxime laborum voluptas! Excepturi, accusamus omnis libero labore qui quibusdam! Consequatur neque iusto modi ipsa commodi eveniet assumenda architecto eum laudantium quisquam expedita maxime
                            quis quasi vitae a, quos inventore facilis temporibus nihil recusandae quod suscipit. Odio repellendus quos cumque eveniet.
                        </div>
                    </div>
                </div>
                <div class="card-taller">
                    <div class="header-card-taller">
                        <img src="../../../assets/img/eventos-2020/358641bf-efd5-4891-9fdd-11d04d89bf7c.jpg" alt="">
                    </div>
                    <div class="content-card-taller">
                        <!-- <div class="title-taller">
                            Workshop: UX Research
                        </div> -->
                        <div class="description-taller">
                            <p class="title-taller">Workshop: Inteligencia Artificial</p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor maxime laborum voluptas! Excepturi, accusamus omnis libero labore qui quibusdam! Consequatur neque iusto modi ipsa commodi eveniet assumenda architecto eum laudantium quisquam expedita maxime
                            quis quasi vitae a, quos inventore facilis temporibus nihil recusandae quod suscipit. Odio repellendus quos cumque eveniet.
                        </div>
                    </div>
                </div>
                <div class="card-taller">
                    <div class="header-card-taller">
                        <img src="../../../assets/img/eventos-2020/adb96e9b-a149-47cc-ae30-7fb7a129699e.jpg" alt="">
                    </div>
                    <div class="content-card-taller">
                        <!-- <div class="title-taller">
                            
                        </div> -->
                        <div class="description-taller">
                            <p class="title-taller">Workshop: Inteligencia Artificial</p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor maxime laborum voluptas! Excepturi, accusamus omnis libero labore qui quibusdam! Consequatur neque iusto modi ipsa commodi eveniet assumenda architecto eum laudantium quisquam expedita maxime
                            quis quasi vitae a, quos inventore facilis temporibus nihil recusandae quod suscipit. Odio repellendus quos cumque eveniet.
                        </div>
                    </div>
                </div>
                <div class="card-taller">
                    <div class="header-card-taller">
                        <img src="../../../assets/img/eventos-2020/webinar angular.png" alt="">
                    </div>
                    <div class="content-card-taller">
                        <!-- <div class="title-taller">
                            Webinar Angular 9
                        </div> -->
                        <div class="description-taller">
                            <p class="title-taller">Webinar Angular 9</p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor maxime laborum voluptas! Excepturi, accusamus omnis libero labore qui quibusdam! Consequatur neque iusto modi ipsa commodi eveniet assumenda architecto eum laudantium quisquam expedita maxime
                            quis quasi vitae a, quos inventore facilis temporibus nihil recusandae quod suscipit. Odio repellendus quos cumque eveniet.
                        </div>
                    </div>
                </div>
                <div class="card-taller">
                    <div class="header-card-taller">
                        <img src="../../../assets/img/eventos-2020/webinar angular.png" alt="">
                    </div>
                    <div class="content-card-taller">
                        <!-- <div class="title-taller">
                            Webinar Angular 9
                        </div> -->
                        <div class="description-taller">
                            <p class="title-taller">Webinar Angular 9</p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor maxime laborum voluptas! Excepturi, accusamus omnis libero labore qui quibusdam! Consequatur neque iusto modi ipsa commodi eveniet assumenda architecto eum laudantium quisquam expedita maxime
                            quis quasi vitae a, quos inventore facilis temporibus nihil recusandae quod suscipit. Odio repellendus quos cumque eveniet.
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-left">
                <button id="prev-btn" class="btn-control-prev">
                    <span class="material-icons">
                        keyboard_arrow_left
                    </span>
                </button>
            </div>
            <div class="control-right">
                <button id="next-btn" class="btn-control-next">
                    <span class="material-icons">
                        keyboard_arrow_right
                    </span>
                </button>
            </div>
        </div>


        <!-- <div class="controls-slide"> -->

        <!-- </div> -->
    </div>

</div>