<div class="card-taller">
    <div class="header-card-taller">
        <img src="../../../assets/img/bg.jpeg" alt="">
    </div>
    <div class="content-card-taller">
        <div class="title-taller">
            Webinar Angular 9
        </div>
        <div class="description-taller">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor maxime laborum voluptas! Excepturi, accusamus omnis libero labore qui quibusdam! Consequatur neque iusto modi ipsa commodi eveniet assumenda architecto eum laudantium quisquam expedita maxime
            quis quasi vitae a, quos inventore facilis temporibus nihil recusandae quod suscipit. Odio repellendus quos cumque eveniet.
        </div>
    </div>
</div>