<div id="wrapper" class="smoth-s">
    <section id="home" class="o-hidden">
        <app-navbar></app-navbar>
        <app-header></app-header>
    </section>
    <section id="about" class="body" style="min-height: 100vh;  ">
        <app-about></app-about>
        <app-directiva></app-directiva>
    </section>
    <section id="events" style="min-height: 100vh; ">
        <app-eventos></app-eventos>
    </section>
    <section id="contact" style="min-height: 100vh;">
        <app-contacto></app-contacto>
    </section>
</div>