<div class="eventos">
    <h2>Eventos</h2>

    <div class="contenido-eventos">
        <div class="tarjeta-eventos">
            <div class="imagen-evento">
                <img src="../../../assets/img/eventos/training.png" alt="Workshops">
            </div>

            <div class="texto-evento">
                <h3>Workshops</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>

        <div class="tarjeta-eventos">
            <div class="imagen-evento">
                <img src="../../../assets/img/eventos/speaker.png" alt="Conferencias">
            </div>

            <div class="texto-evento">
                <h3>Conferencias</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>

        <div class="tarjeta-eventos">
            <div class="imagen-evento">
                <img src="../../../assets/img/eventos/video-conference.png" alt="Webinars">
            </div>

            <div class="texto-evento">
                <h3>Webinars</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>

        <div class="tarjeta-eventos">
            <div class="imagen-evento">
                <img src="../../../assets/img/eventos/conversation.png" alt="Conversatorios">
            </div>

            <div class="texto-evento">
                <h3>Conversatorios</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>

        <div class="tarjeta-eventos">
            <div class="imagen-evento">
                <img src="../../../assets/img/eventos/teaching.png" alt="Cursos">
            </div>

            <div class="texto-evento">
                <h3>Cursos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>

        <div class="tarjeta-eventos">
            <div class="imagen-evento">
                <img src="../../../assets/img/eventos/project.png" alt="Proyectos">
            </div>

            <div class="texto-evento">
                <h3>Proyectos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>
    </div>
</div>