/* Eventos */

.eventos {
    background-color: #EFEFEF;
    padding: 8rem 0 4rem;
    margin: 0 auto;
    min-width: 320px;
}

@media (min-width: 1300px) {
    .eventos {
        min-height: 100vh;
    }
}

.eventos h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .eventos h2 {
        font-size: 5rem;
    }
}

.eventos .contenido-eventos {
    max-width: 1300px;
    margin: auto;
    padding: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 500px) {
    .eventos .contenido-eventos {
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .eventos .contenido-eventos {
        margin: 0 auto;
        padding: 0 10rem;
    }
}

.contenido-eventos .tarjeta-eventos {
    margin-bottom: 6rem;
    width: 20rem;
    height: 20rem;
}

.contenido-eventos .tarjeta-eventos:last-child {
    margin-bottom: 0;
}

@media (min-width: 650px) {
    .contenido-eventos .tarjeta-eventos {
        flex-basis: calc(50% - 2rem);
    }
    .contenido-eventos .tarjeta-eventos:nth-child(n + 5) {
        margin-bottom: 0;
    }
}

@media (min-width: 1300px) {
    .contenido-eventos .tarjeta-eventos {
        flex-basis: calc(33.3% - 8rem);
    }
    .contenido-eventos .tarjeta-eventos:nth-child(n + 4) {
        margin-bottom: 0;
    }
}

.tarjeta-eventos .imagen-evento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-eventos img {
    width: 10rem;
    height: 10rem;
}

.tarjeta-eventos h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    margin-top: 1.4rem;
    font-size: 2.5rem;
    text-align: center;
}

.tarjeta-eventos p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #545454;
}

@media (min-width: 650px) {
    .tarjeta-eventos h3 {
        font-size: 2.8rem;
    }
    .tarjeta-eventos p {
        font-size: 1.6rem;
    }
}